In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# NYPD Complaint Data
complaint_file = "../Resources/NYPD_Complaint_Data_2017.csv"

NYPD_data =pd.read_csv(complaint_file)

NYPD_data.head()

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,505246646,BROOKLYN,1/1/2017,12/10/2020,COMPLETED,233,MISDEMEANOR,SEX CRIMES,NaN,NaN,NaN,<18,UNKNOWN,F,40.625769,-73.991417
1,419473526,MANHATTAN,1/1/2017,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.736698,-73.983316
2,443040344,QUEENS,1/1/2017,12/31/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE,M,40.586466,-73.816522
3,844875596,STATEN ISLAND,1/1/2017,9/10/2020,COMPLETED,116,FELONY,SEX CRIMES,UNKNOWN,WHITE HISPANIC,M,<18,WHITE HISPANIC,F,40.644726,-74.077483
4,424170028,QUEENS,1/1/2017,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE HISPANIC,F,40.729939,-73.810433

In [2]:
NYPD_data.count()

CMPLNT_NUM          280
BORO_NM             278
CMPLNT_FR_DT        280
CMPLNT_TO_DT        242
CRM_ATPT_CPTD_CD    280
KY_CD               280
LAW_CAT_CD          280
OFNS_DESC           279
SUSP_AGE_GROUP      198
SUSP_RACE           198
SUSP_SEX            198
VIC_AGE_GROUP       280
VIC_RACE            280
VIC_SEX             280
Latitude            280
Longitude           280
dtype: int64

In [3]:
NYPD_df = NYPD_data

NYPD_df

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,505246646,BROOKLYN,1/1/2017,12/10/2020,COMPLETED,233,MISDEMEANOR,SEX CRIMES,NaN,NaN,NaN,<18,UNKNOWN,F,40.625769,-73.991417
1,419473526,MANHATTAN,1/1/2017,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.736698,-73.983316
2,443040344,QUEENS,1/1/2017,12/31/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE,M,40.586466,-73.816522
3,844875596,STATEN ISLAND,1/1/2017,9/10/2020,COMPLETED,116,FELONY,SEX CRIMES,UNKNOWN,WHITE HISPANIC,M,<18,WHITE HISPANIC,F,40.644726,-74.077483
4,424170028,QUEENS,1/1/2017,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE HISPANIC,F,40.729939,-73.810433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,431500433,BROOKLYN,12/26/2017,3/23/2020,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,BLACK,M,40.660385,-73.888747
276,185511150,BROOKLYN,12/29/2017,12/29/2017,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,25-44,BLACK HISPANIC,M,40.701404,-73.942246
277,665972298,BRONX,12/30/2017,11/18/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,BLACK HISPANIC,M,<18,BLACK HISPANIC,F,40.837324,-73.919831
278,931191054,BROOKLYN,12/30/2017,6/1/2018,COMPLETED,112,FELONY,THEFT-FRAUD,NaN,NaN,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,40.683911,-73.960939
279,332352984,QUEENS,12/30/2017,5/15/2019,COMPLETED,112,FELONY,THEFT-FRAUD,NaN,NaN,NaN,45-64,ASIAN / PACIFIC ISLANDER,M,40.702188,-73.904175

In [4]:
NYPD_df["CMPLNT_FR_DT"].value_counts()

1/1/2017      28
9/1/2017      14
10/1/2017      9
6/1/2017       8
12/1/2017      7
              ..
10/23/2017     1
2/18/2017      1
9/12/2017      1
11/29/2017     1
3/21/2017      1
Name: CMPLNT_FR_DT, Length: 144, dtype: int64

In [31]:
# Get the year 2017
startdate = "1/1/2017"
enddate = "2/28/2017"

after_start_date_DT = NYPD_df["CMPLNT_FR_DT"] >= startdate
before_end_date_DT = NYPD_df["CMPLNT_FR_DT"] <= enddate
between_two_dates = after_start_date_DT & before_end_date_DT
NYPD_2017_df = NYPD_df[between_two_dates]

NYPD_2017_df

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,505246646,BROOKLYN,1/1/2017,12/10/2020,COMPLETED,233,MISDEMEANOR,SEX CRIMES,NaN,NaN,NaN,<18,UNKNOWN,F,40.625769,-73.991417
1,419473526,MANHATTAN,1/1/2017,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.736698,-73.983316
2,443040344,QUEENS,1/1/2017,12/31/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE,M,40.586466,-73.816522
3,844875596,STATEN ISLAND,1/1/2017,9/10/2020,COMPLETED,116,FELONY,SEX CRIMES,UNKNOWN,WHITE HISPANIC,M,<18,WHITE HISPANIC,F,40.644726,-74.077483
4,424170028,QUEENS,1/1/2017,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE HISPANIC,F,40.729939,-73.810433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,431500433,BROOKLYN,12/26/2017,3/23/2020,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,BLACK,M,40.660385,-73.888747
276,185511150,BROOKLYN,12/29/2017,12/29/2017,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,25-44,BLACK HISPANIC,M,40.701404,-73.942246
277,665972298,BRONX,12/30/2017,11/18/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,BLACK HISPANIC,M,<18,BLACK HISPANIC,F,40.837324,-73.919831
278,931191054,BROOKLYN,12/30/2017,6/1/2018,COMPLETED,112,FELONY,THEFT-FRAUD,NaN,NaN,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,40.683911,-73.960939
279,332352984,QUEENS,12/30/2017,5/15/2019,COMPLETED,112,FELONY,THEFT-FRAUD,NaN,NaN,NaN,45-64,ASIAN / PACIFIC ISLANDER,M,40.702188,-73.904175

In [32]:
NYPD_2017_new_df = NYPD_2017_df.rename(columns={'CMPLNT_NUM' : 'Complaint_number_ID', 'BORO_NM' : 'BORO_Name', 'CMPLNT_FR_DT': 'Start_Date', 'CMPLNT_TO_DT': 'End_Date', 'CRM_ATPT_CPTD_CD': 'Complaint_Status','KY_CD':'Complaint_code', 'LAW_CAT_CD':'Complaint_CAT', 'SUSP_AGE_GROUP' :'Suspect_Age', 'SUSP_RACE' : 'Suspect_Race', 'SUSP_SEX' : 'Suspect_Gender', 'VIC_AGE_GROUP' : 'Victim_Age', 'VIC_RACE' : 'Victim_Race','VIC_SEX' : 'Victim_Gender', 'OFNS_DESC' : 'Complaint_DESC'  })

NYPD_2017_new_df

,Complaint_number_ID,BORO_Name,Start_Date,End_Date,Complaint_Status,Complaint_code,Complaint_CAT,Complaint_DESC,Suspect_Age,Suspect_Race,Suspect_Gender,Victim_Age,Victim_Race,Victim_Gender,Latitude,Longitude
0,505246646,BROOKLYN,1/1/2017,12/10/2020,COMPLETED,233,MISDEMEANOR,SEX CRIMES,NaN,NaN,NaN,<18,UNKNOWN,F,40.625769,-73.991417
1,419473526,MANHATTAN,1/1/2017,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.736698,-73.983316
2,443040344,QUEENS,1/1/2017,12/31/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE,M,40.586466,-73.816522
3,844875596,STATEN ISLAND,1/1/2017,9/10/2020,COMPLETED,116,FELONY,SEX CRIMES,UNKNOWN,WHITE HISPANIC,M,<18,WHITE HISPANIC,F,40.644726,-74.077483
4,424170028,QUEENS,1/1/2017,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE HISPANIC,F,40.729939,-73.810433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,431500433,BROOKLYN,12/26/2017,3/23/2020,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,BLACK,M,40.660385,-73.888747
276,185511150,BROOKLYN,12/29/2017,12/29/2017,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,25-44,BLACK HISPANIC,M,40.701404,-73.942246
277,665972298,BRONX,12/30/2017,11/18/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,BLACK HISPANIC,M,<18,BLACK HISPANIC,F,40.837324,-73.919831
278,931191054,BROOKLYN,12/30/2017,6/1/2018,COMPLETED,112,FELONY,THEFT-FRAUD,NaN,NaN,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,40.683911,-73.960939
279,332352984,QUEENS,12/30/2017,5/15/2019,COMPLETED,112,FELONY,THEFT-FRAUD,NaN,NaN,NaN,45-64,ASIAN / PACIFIC ISLANDER,M,40.702188,-73.904175

In [33]:
NYPD_2017_new_df.dtypes

Complaint_number_ID      int64
BORO_Name               object
Start_Date              object
End_Date                object
Complaint_Status        object
Complaint_code           int64
Complaint_CAT           object
Complaint_DESC          object
Suspect_Age             object
Suspect_Race            object
Suspect_Gender          object
Victim_Age              object
Victim_Race             object
Victim_Gender           object
Latitude               float64
Longitude              float64
dtype: object

In [34]:
NYPD_2017_new_df["Start_Date"] = pd.to_datetime(NYPD_2017_new_df["Start_Date"], format="%m/%d/%Y", errors="coerce")

NYPD_2017_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132 entries, 0 to 279
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Complaint_number_ID  132 non-null    int64
 1   BORO_Name            131 non-null    object
 2   Start_Date           132 non-null    datetime64[ns]
 3   End_Date             115 non-null    object
 4   Complaint_Status     132 non-null    object
 5   Complaint_code       132 non-null    int64
 6   Complaint_CAT        132 non-null    object
 7   Complaint_DESC       132 non-null    object
 8   Suspect_Age          92 non-null     object
 9   Suspect_Race         92 non-null     object
 10  Suspect_Gender       92 non-null     object
 11  Victim_Age           132 non-null    object
 12  Victim_Race          132 non-null    object
 13  Victim_Gender        132 non-null    object
 14  Latitude             132 non-null    float64
 15  Longitude            132 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(11)
memory usage: 17.5+ KB

In [35]:
NYPD_2017_2m_df= NYPD_2017_new_df[(NYPD_2017_new_df["Start_Date"].dt.month_name() == "January") | (NYPD_2017_new_df["Start_Date"].dt.month_name() == "February")]

NYPD_2017_2m_df

,Complaint_number_ID,BORO_Name,Start_Date,End_Date,Complaint_Status,Complaint_code,Complaint_CAT,Complaint_DESC,Suspect_Age,Suspect_Race,Suspect_Gender,Victim_Age,Victim_Race,Victim_Gender,Latitude,Longitude
0,505246646,BROOKLYN,2017-01-01,12/10/2020,COMPLETED,233,MISDEMEANOR,SEX CRIMES,NaN,NaN,NaN,<18,UNKNOWN,F,40.625769,-73.991417
1,419473526,MANHATTAN,2017-01-01,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.736698,-73.983316
2,443040344,QUEENS,2017-01-01,12/31/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE,M,40.586466,-73.816522
3,844875596,STATEN ISLAND,2017-01-01,9/10/2020,COMPLETED,116,FELONY,SEX CRIMES,UNKNOWN,WHITE HISPANIC,M,<18,WHITE HISPANIC,F,40.644726,-74.077483
4,424170028,QUEENS,2017-01-01,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE HISPANIC,F,40.729939,-73.810433
5,901006530,BROOKLYN,2017-01-01,9/19/2020,COMPLETED,361,MISDEMEANOR,OFF. AGNST PUB ORD SENSBLTY &,NaN,NaN,NaN,25-44,BLACK,F,40.697400,-73.951302
6,116503888,QUEENS,2017-01-01,9/1/2020,COMPLETED,104,FELONY,RAPE,18-24,UNKNOWN,M,<18,UNKNOWN,F,40.707047,-73.792612
7,903243737,STATEN ISLAND,2017-01-01,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,25-44,BLACK,M,18-24,BLACK,F,40.644726,-74.077483
8,112897749,BROOKLYN,2017-01-01,12/31/2017,COMPLETED,116,FELONY,SEX CRIMES,18-24,UNKNOWN,F,<18,WHITE,F,40.674583,-73.930222
9,728936153,QUEENS,2017-01-01,8/8/2020,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,BLACK,F,40.697850,-73.773595
10,576408766,QUEENS,2017-01-01,8/14/2020,COMPLETED,109,FELONY,GRAND LARCENY,25-44,BLACK,M,UNKNOWN,UNKNOWN,D,40.751587,-73.944740
11,293681331,BROOKLYN,2017-01-01,NaN,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,ASIAN / PACIFIC ISLANDER,U,<18,ASIAN / PACIFIC ISLANDER,F,40.671107,-73.881433
12,349166901,MANHATTAN,2017-01-01,12/31/2019,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,BLACK,M,UNKNOWN,UNKNOWN,M,40.726554,-73.987828
13,142464697,BROOKLYN,2017-01-01,NaN,COMPLETED,233,MISDEMEANOR,SEX CRIMES,25-44,BLACK,M,<18,BLACK,M,40.688872,-73.944529
14,412020260,BROOKLYN,2017-01-01,5/23/2018,COMPLETED,340,MISDEMEANOR,FRAUDS,NaN,NaN,NaN,65+,BLACK,F,40.659232,-73.918693
15,980791902,MANHATTAN,2017-01-01,1/1/2020,COMPLETED,116,FELONY,SEX CRIMES,NaN,NaN,NaN,<18,WHITE HISPANIC,F,40.726554,-73.987828
16,363436514,BRONX,2017-01-01,3/8/2020,COMPLETED,116,FELONY,SEX CRIMES,<18,UNKNOWN,M,<18,BLACK HISPANIC,M,40.837324,-73.919831
17,805314618,MANHATTAN,2017-01-01,3/2/2020,COMPLETED,109,FELONY,GRAND LARCENY,25-44,WHITE,M,UNKNOWN,UNKNOWN,D,40.737377,-73.994733
18,194374327,BRONX,2017-01-01,2/3/2020,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,25-44,BLACK,M,40.861102,-73.900215
19,798943590,BROOKLYN,2017-01-01,1/1/2018,COMPLETED,116,FELONY,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE HISPANIC,F,40.594145,-73.960415
20,638896978,BROOKLYN,2017-01-01,1/1/2019,COMPLETED,233,MISDEMEANOR,SEX CRIMES,25-44,WHITE HISPANIC,M,<18,BLACK,F,40.576157,-73.975984
21,506005993,MANHATTAN,2017-01-01,12/31/2017,COMPLETED,116,FELONY,SEX CRIMES,45-64,BLACK,U,UNKNOWN,UNKNOWN,M,40.753939,-73.994844
22,316450085,QUEENS,2017-01-01,6/30/2019,COMPLETED,104,FELONY,RAPE,45-64,BLACK,M,<18,BLACK,F,40.679700,-73.776047
23,683087188,QUEENS,2017-01-01,12/31/2019,COMPLETED,116,FELONY,SEX CRIMES,<18,UNKNOWN,M,<18,UNKNOWN,M,40.679700,-73.776047
24,614051260,BRONX,2017-01-01,6/19/2019,COMPLETED,355,MISDEMEANOR,OFFENSES AGAINST THE PERSON,<18,WHITE HISPANIC,M,<18,WHITE HISPANIC,F,40.881055,-73.876520
25,604641805,MANHATTAN,2017-01-01,1/28/2020,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,ASIAN / PACIFIC ISLANDER,M,25-44,WHITE HISPANIC,M,40.824906,-73.947852
26,547956124,BROOKLYN,2017-01-01,12/31/2018,COMPLETED,340,MISDEMEANOR,FRAUDS,NaN,NaN,NaN,45-64,BLACK,M,40.634247,-73.922698
27,226572189,BRONX,2017-01-01,1/1/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,NaN,NaN,NaN,<18,BLACK,F,40.843901,-73.900505
28,141685159,QUEENS,2017-01-02,4/30/2020,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,BLACK,M,40.687543,-73.789755
29,451108268,BRONX,2017-01-02,NaN,COMPLETED,578,VIOLATION,HARRASSMENT 2,45-64,WHITE HISPANIC,F,65+,WHITE HISPANIC,F,40.850367,-73.917256
30,152788984,BRONX,2017-01-04,10/20/2020,COMPLETED,361,MISDEMEANOR,OFF. AGNST PUB ORD SENSBLTY &,UNKNOWN,WHITE HISPANIC,F,25-44,UNKNOWN,F,40.855590,-73.902378
31,420708376,BROOKLYN,2017-01-09,1/30/2020,COMPLETED,340,MISDEMEANOR,FRAUDS,25-44,UNKNOWN,M,25-44,UNKNOWN,M,40.662773,-73.918228
32,852321595,BRONX,2017-01-10,2/27/2020,COMPLETED,340,MISDEMEANOR,FRAUDS,NaN,NaN,NaN,18-24,WHITE HISPANIC,M,40.879557,-73.874230
33,455077227,BRONX,2017-01-11,8/4/2020,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,BLACK,F,25-44,BLACK,M,40.827698,-73.876102
34,862743671,NaN,2017-01-14,NaN,COMPLETED,101,FELONY,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,NaN,45-64,ASIAN / PACIFIC ISLANDER,F,40.625769,-73.991417
35,326339189,QUEENS,2017-01-15,7/1/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,65+,WHITE,M,40.758943,-73.734042
36,511699223,MANHATTAN,2017-01-15,NaN,COMPLETED,233,MISDEMEANOR,SEX CRIMES,25-44,WHITE HISPANIC,M,<18,UNKNOWN,F,40.839908,-73.936084
37,953989307,QUEENS,2017-01-17,1/18/2018,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,25-44,BLACK,F,40.698131,-73.769930
38,800829896,MANHATTAN,2017-01-17,5/29/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,25-44,WHITE HISPANIC,F,40.862778,-73.928184
39,762499506,BROOKLYN,2017-01-20,9/25/2020,COMPLETED,112,FELONY,THEFT-FRAUD,18-24,BLACK,F,45-64,UNKNOWN,M,40.667898,-73.889088
40,299502769,MANHATTAN,2017-01-20,NaN,COMPLETED,578,VIOLATION,HARRASSMENT 2,UNKNOWN,WHITE,M,45-64,ASIAN / PACIFIC ISLANDER,F,40.744381,-73.987522
41,917179397,BROOKLYN,2017-01-20,1/3/2020,COMPLETED,361,MISDEMEANOR,OFF. AGNST PUB ORD SENSBLTY &,25-44,UNKNOWN,M,25-44,BLACK,M,40.695760,-73.968844
42,738719263,MANHATTAN,2017-01-23,1/23/2017,COMPLETED,106,FELONY,FELONY ASSAULT,25-44,BLACK,M,45-64,WHITE,F,40.730865,-73.981485
43,164755855,MANHATTAN,2017-01-26,1/10/2020,COMPLETED,109,FELONY,GRAND LARCENY,25-44,WHITE HISPANIC,F,UNKNOWN,UNKNOWN,D,40.752410,-73.974303
44,223007210,BRONX,2017-01-28,1/28/2017,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,25-44,WHITE HISPANIC,F,40.861187,-73.906357
45,859052198,QUEENS,2017-02-01,2/28/2017,COMPLETED,104,FELONY,RAPE,25-44,UNKNOWN,M,25-44,UNKNOWN,F,40.769306,-73.915508
46,359802885,QUEENS,2017-02-01,3/31/2020,COMPLETED,116,FELONY,SEX CRIMES,NaN,NaN,NaN,<18,WHITE HISPANIC,F,40.726187,-73.735234
47,704114967,BRONX,2017-02-01,3/1/2020,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,WHITE HISPANIC,F,45-64,WHITE,M,40.859961,-73.838091
48,902936409,BROOKLYN,2017-02-01,2/1/2017,COMPLETED,104,FELONY,RAPE,UNKNOWN,WHITE HISPANIC,M,25-44,WHITE HISPANIC,F,40.697964,-73.918083
49,816986259,MANHATTAN,2017-02-02,2/2/2017,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,BLACK,F,45-64,BLACK,M,40.823918,-73.937530
50,667723556,MANHATTAN,2017-02-02,2/3/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,ASIAN / PACIFIC ISLANDER,F,<18,ASIAN / PACIFIC ISLANDER,F,40.784060,-73.975021
52,293975620,BROOKLYN,2017-02-10,6/11/2018,COMPLETED,112,FELONY,THEFT-FRAUD,NaN,NaN,NaN,25-44,BLACK,M,40.648326,-73.916296
53,571959372,BROOKLYN,2017-02-11,NaN,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,45-64,BLACK,F,40.676680,-73.900419
54,914454481,MANHATTAN,2017-02-16,2/17/2017,COMPLETED,104,FELONY,RAPE,45-64,WHITE HISPANIC,M,45-64,WHITE,F,40.736698,-73.983316
55,318042377,BROOKLYN,2017-02-18,6/13/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,BLACK,M,40.671710,-73.935023
56,877894934,MANHATTAN,2017-02-23,12/1/2020,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,25-44,WHITE,M,40.748003,-73.978564
57,788002250,BROOKLYN,2017-02-27,1/24/2020,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,45-64,ASIAN / PACIFIC ISLANDER,M,40.579672,-73.961756
58,442071628,MANHATTAN,2017-02-28,NaN,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,U,<18,BLACK,F,40.828851,-73.943834

In [36]:
# DropNA
NYPD_2017_2m_df= NYPD_2017_2m_df.dropna()

NYPD_2017_2m_df

,Complaint_number_ID,BORO_Name,Start_Date,End_Date,Complaint_Status,Complaint_code,Complaint_CAT,Complaint_DESC,Suspect_Age,Suspect_Race,Suspect_Gender,Victim_Age,Victim_Race,Victim_Gender,Latitude,Longitude
1,419473526,MANHATTAN,2017-01-01,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.736698,-73.983316
2,443040344,QUEENS,2017-01-01,12/31/2018,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE,M,40.586466,-73.816522
3,844875596,STATEN ISLAND,2017-01-01,9/10/2020,COMPLETED,116,FELONY,SEX CRIMES,UNKNOWN,WHITE HISPANIC,M,<18,WHITE HISPANIC,F,40.644726,-74.077483
4,424170028,QUEENS,2017-01-01,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE HISPANIC,F,40.729939,-73.810433
6,116503888,QUEENS,2017-01-01,9/1/2020,COMPLETED,104,FELONY,RAPE,18-24,UNKNOWN,M,<18,UNKNOWN,F,40.707047,-73.792612
7,903243737,STATEN ISLAND,2017-01-01,12/31/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,25-44,BLACK,M,18-24,BLACK,F,40.644726,-74.077483
8,112897749,BROOKLYN,2017-01-01,12/31/2017,COMPLETED,116,FELONY,SEX CRIMES,18-24,UNKNOWN,F,<18,WHITE,F,40.674583,-73.930222
9,728936153,QUEENS,2017-01-01,8/8/2020,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,BLACK,F,40.697850,-73.773595
10,576408766,QUEENS,2017-01-01,8/14/2020,COMPLETED,109,FELONY,GRAND LARCENY,25-44,BLACK,M,UNKNOWN,UNKNOWN,D,40.751587,-73.944740
12,349166901,MANHATTAN,2017-01-01,12/31/2019,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,BLACK,M,UNKNOWN,UNKNOWN,M,40.726554,-73.987828
16,363436514,BRONX,2017-01-01,3/8/2020,COMPLETED,116,FELONY,SEX CRIMES,<18,UNKNOWN,M,<18,BLACK HISPANIC,M,40.837324,-73.919831
17,805314618,MANHATTAN,2017-01-01,3/2/2020,COMPLETED,109,FELONY,GRAND LARCENY,25-44,WHITE,M,UNKNOWN,UNKNOWN,D,40.737377,-73.994733
18,194374327,BRONX,2017-01-01,2/3/2020,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,25-44,BLACK,M,40.861102,-73.900215
19,798943590,BROOKLYN,2017-01-01,1/1/2018,COMPLETED,116,FELONY,SEX CRIMES,UNKNOWN,UNKNOWN,M,<18,WHITE HISPANIC,F,40.594145,-73.960415
20,638896978,BROOKLYN,2017-01-01,1/1/2019,COMPLETED,233,MISDEMEANOR,SEX CRIMES,25-44,WHITE HISPANIC,M,<18,BLACK,F,40.576157,-73.975984
21,506005993,MANHATTAN,2017-01-01,12/31/2017,COMPLETED,116,FELONY,SEX CRIMES,45-64,BLACK,U,UNKNOWN,UNKNOWN,M,40.753939,-73.994844
22,316450085,QUEENS,2017-01-01,6/30/2019,COMPLETED,104,FELONY,RAPE,45-64,BLACK,M,<18,BLACK,F,40.679700,-73.776047
23,683087188,QUEENS,2017-01-01,12/31/2019,COMPLETED,116,FELONY,SEX CRIMES,<18,UNKNOWN,M,<18,UNKNOWN,M,40.679700,-73.776047
24,614051260,BRONX,2017-01-01,6/19/2019,COMPLETED,355,MISDEMEANOR,OFFENSES AGAINST THE PERSON,<18,WHITE HISPANIC,M,<18,WHITE HISPANIC,F,40.881055,-73.876520
25,604641805,MANHATTAN,2017-01-01,1/28/2020,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,ASIAN / PACIFIC ISLANDER,M,25-44,WHITE HISPANIC,M,40.824906,-73.947852
28,141685159,QUEENS,2017-01-02,4/30/2020,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,BLACK,M,40.687543,-73.789755
30,152788984,BRONX,2017-01-04,10/20/2020,COMPLETED,361,MISDEMEANOR,OFF. AGNST PUB ORD SENSBLTY &,UNKNOWN,WHITE HISPANIC,F,25-44,UNKNOWN,F,40.855590,-73.902378
31,420708376,BROOKLYN,2017-01-09,1/30/2020,COMPLETED,340,MISDEMEANOR,FRAUDS,25-44,UNKNOWN,M,25-44,UNKNOWN,M,40.662773,-73.918228
33,455077227,BRONX,2017-01-11,8/4/2020,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,BLACK,F,25-44,BLACK,M,40.827698,-73.876102
39,762499506,BROOKLYN,2017-01-20,9/25/2020,COMPLETED,112,FELONY,THEFT-FRAUD,18-24,BLACK,F,45-64,UNKNOWN,M,40.667898,-73.889088
41,917179397,BROOKLYN,2017-01-20,1/3/2020,COMPLETED,361,MISDEMEANOR,OFF. AGNST PUB ORD SENSBLTY &,25-44,UNKNOWN,M,25-44,BLACK,M,40.695760,-73.968844
42,738719263,MANHATTAN,2017-01-23,1/23/2017,COMPLETED,106,FELONY,FELONY ASSAULT,25-44,BLACK,M,45-64,WHITE,F,40.730865,-73.981485
43,164755855,MANHATTAN,2017-01-26,1/10/2020,COMPLETED,109,FELONY,GRAND LARCENY,25-44,WHITE HISPANIC,F,UNKNOWN,UNKNOWN,D,40.752410,-73.974303
44,223007210,BRONX,2017-01-28,1/28/2017,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,25-44,WHITE HISPANIC,F,40.861187,-73.906357
45,859052198,QUEENS,2017-02-01,2/28/2017,COMPLETED,104,FELONY,RAPE,25-44,UNKNOWN,M,25-44,UNKNOWN,F,40.769306,-73.915508
47,704114967,BRONX,2017-02-01,3/1/2020,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,WHITE HISPANIC,F,45-64,WHITE,M,40.859961,-73.838091
48,902936409,BROOKLYN,2017-02-01,2/1/2017,COMPLETED,104,FELONY,RAPE,UNKNOWN,WHITE HISPANIC,M,25-44,WHITE HISPANIC,F,40.697964,-73.918083
49,816986259,MANHATTAN,2017-02-02,2/2/2017,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,BLACK,F,45-64,BLACK,M,40.823918,-73.937530
50,667723556,MANHATTAN,2017-02-02,2/3/2017,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,ASIAN / PACIFIC ISLANDER,F,<18,ASIAN / PACIFIC ISLANDER,F,40.784060,-73.975021
54,914454481,MANHATTAN,2017-02-16,2/17/2017,COMPLETED,104,FELONY,RAPE,45-64,WHITE HISPANIC,M,45-64,WHITE,F,40.736698,-73.983316
57,788002250,BROOKLYN,2017-02-27,1/24/2020,COMPLETED,112,FELONY,THEFT-FRAUD,UNKNOWN,UNKNOWN,U,45-64,ASIAN / PACIFIC ISLANDER,M,40.579672,-73.961756

In [12]:
# NYC Vechile_collision
NYVechicle = "../Resources/NYPD_Vechicle_Collision_2017.csv"

NYVechicle_df =pd.read_csv(NYVechicle)

NYVechicle_df.head()

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,PERSONS INJURED
0,3590766,1/1/2017,0:00,NaN,NaN,40.772331,-73.945304,"(40.7723306, -73.9453041)",NaN,NaN,NaN,0
1,3590430,1/1/2017,0:00,QUEENS,11385.0,40.700169,-73.909204,"(40.7001691, -73.9092037)",WOODBINE STREET,SAINT NICHOLAS,NaN,0
2,3592975,1/1/2017,0:00,NaN,NaN,NaN,NaN,NaN,EAST 6 STREET,NaN,NaN,0
3,3592360,1/1/2017,0:00,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,99 STREET,NaN,0
4,3593809,1/1/2017,0:00,MANHATTAN,10010.0,40.743116,-73.992667,"(40.7431162, -73.9926669)",NaN,NaN,717 AVENUE OF THE AMERICAS,2

In [15]:
NYVechicle_df.count()

UNIQUE KEY           32588
DATE                 32588
TIME                 32588
BOROUGH              20721
ZIP CODE             20715
LATITUDE             28288
LONGITUDE            28288
LOCATION             28288
ON STREET NAME       21481
CROSS STREET NAME    16338
OFF STREET NAME       7307
PERSONS INJURED      32588
dtype: int64

In [40]:
NYVechicle_2017_new_df = NYVechicle_df.rename(columns={'UNIQUE KEY': 'Unique_Key','ZIP CODE' : 'Zip_Code' })

NYVechicle_2017_new_df

,Unique_Key,DATE,TIME,BOROUGH,Zip_Code,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,PERSONS INJURED
0,3590766,1/1/2017,0:00,NaN,NaN,40.772331,-73.945304,"(40.7723306, -73.9453041)",NaN,NaN,NaN,0
1,3590430,1/1/2017,0:00,QUEENS,11385.0,40.700169,-73.909204,"(40.7001691, -73.9092037)",WOODBINE STREET,SAINT NICHOLAS,NaN,0
2,3592975,1/1/2017,0:00,NaN,NaN,NaN,NaN,NaN,EAST 6 STREET,NaN,NaN,0
3,3592360,1/1/2017,0:00,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,99 STREET,NaN,0
4,3593809,1/1/2017,0:00,MANHATTAN,10010.0,40.743116,-73.992667,"(40.7431162, -73.9926669)",NaN,NaN,717 AVENUE OF THE AMERICAS,2
...,...,...,...,...,...,...,...,...,...,...,...,...
32583,3623371,2/28/2017,9:45,QUEENS,11365.0,40.736010,-73.787415,"(40.73601, -73.787415)",NaN,NaN,67-53 185 STREET,0
32584,3623651,2/28/2017,9:45,QUEENS,11434.0,40.668320,-73.781370,"(40.66832, -73.78137)",NaN,NaN,153-95 ROCKAWAY BOULEVARD,0
32585,3623667,2/28/2017,9:45,NaN,NaN,40.707077,-73.954025,"(40.707077, -73.954025)",BROADWAY,HOOPER STREET,NaN,1
32586,3623907,2/28/2017,9:53,BRONX,10467.0,40.884342,-73.886765,"(40.884342, -73.886765)",MOSHOLU PARKWAY,WEST GUN HILL ROAD,NaN,0
32587,3623313,2/28/2017,9:57,MANHATTAN,10027.0,40.814037,-73.948364,"(40.814037, -73.948364)",NaN,NaN,2445 8 AVENUE,1

In [41]:
NYVechicle_2017_new_df= NYVechicle_2017_new_df.drop(['LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME', 'PERSONS INJURED'], axis=1)

In [42]:
NYVechicle_2017_new_df

       Unique_Key       DATE  TIME    BOROUGH  Zip_Code   LATITUDE  LONGITUDE
0         3590766   1/1/2017  0:00        NaN       NaN  40.772331 -73.945304
1         3590430   1/1/2017  0:00     QUEENS   11385.0  40.700169 -73.909204
2         3592975   1/1/2017  0:00        NaN       NaN        NaN        NaN
3         3592360   1/1/2017  0:00        NaN       NaN        NaN        NaN
4         3593809   1/1/2017  0:00  MANHATTAN   10010.0  40.743116 -73.992667
...           ...        ...   ...        ...       ...        ...        ...
32583     3623371  2/28/2017  9:45     QUEENS   11365.0  40.736010 -73.787415
32584     3623651  2/28/2017  9:45     QUEENS   11434.0  40.668320 -73.781370
32585     3623667  2/28/2017  9:45        NaN       NaN  40.707077 -73.954025
32586     3623907  2/28/2017  9:53      BRONX   10467.0  40.884342 -73.886765
32587     3623313  2/28/2017  9:57  MANHATTAN   10027.0  40.814037 -73.948364

[32588 rows x 7 columns]

In [43]:
NYVechicle_2017_new_df= NYVechicle_2017_new_df.dropna()

In [44]:
NYVechicle_2017_new_df

       Unique_Key       DATE  TIME    BOROUGH  Zip_Code   LATITUDE  LONGITUDE
1         3590430   1/1/2017  0:00     QUEENS   11385.0  40.700169 -73.909204
4         3593809   1/1/2017  0:00  MANHATTAN   10010.0  40.743116 -73.992667
5         3590438   1/1/2017  0:00     QUEENS   11385.0  40.703086 -73.859702
9         3610968   1/1/2017  0:05     QUEENS   11433.0  40.696213 -73.782280
12        3590013   1/1/2017  0:20      BRONX   10453.0  40.849669 -73.908013
...           ...        ...   ...        ...       ...        ...        ...
32582     3623471  2/28/2017  9:45     QUEENS   11101.0  40.736828 -73.937454
32583     3623371  2/28/2017  9:45     QUEENS   11365.0  40.736010 -73.787415
32584     3623651  2/28/2017  9:45     QUEENS   11434.0  40.668320 -73.781370
32586     3623907  2/28/2017  9:53      BRONX   10467.0  40.884342 -73.886765
32587     3623313  2/28/2017  9:57  MANHATTAN   10027.0  40.814037 -73.948364

[20013 rows x 7 columns]

In [45]:
NYVechicle_2017_new_df.dtypes

Unique_Key      int64
DATE           object
TIME           object
BOROUGH        object
Zip_Code      float64
LATITUDE      float64
LONGITUDE     float64
dtype: object

In [46]:
NYVechicle_2017_new_df["DATE"] = pd.to_datetime(NYVechicle_2017_new_df["DATE"], format="%m/%d/%Y", errors="coerce")

NYVechicle_2017_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20013 entries, 1 to 32587
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unique_Key  20013 non-null  int64
 1   DATE        20013 non-null  datetime64[ns]
 2   TIME        20013 non-null  object
 3   BOROUGH     20013 non-null  object
 4   Zip_Code    20013 non-null  float64
 5   LATITUDE    20013 non-null  float64
 6   LONGITUDE   20013 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 1.2+ MB

<ipython-input-46-cc3784a65429>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NYVechicle_2017_new_df["DATE"] = pd.to_datetime(NYVechicle_2017_new_df["DATE"], format="%m/%d/%Y", errors="coerce")

In [47]:
NYVechicle_2017_new_df

       Unique_Key       DATE  TIME    BOROUGH  Zip_Code   LATITUDE  LONGITUDE
1         3590430 2017-01-01  0:00     QUEENS   11385.0  40.700169 -73.909204
4         3593809 2017-01-01  0:00  MANHATTAN   10010.0  40.743116 -73.992667
5         3590438 2017-01-01  0:00     QUEENS   11385.0  40.703086 -73.859702
9         3610968 2017-01-01  0:05     QUEENS   11433.0  40.696213 -73.782280
12        3590013 2017-01-01  0:20      BRONX   10453.0  40.849669 -73.908013
...           ...        ...   ...        ...       ...        ...        ...
32582     3623471 2017-02-28  9:45     QUEENS   11101.0  40.736828 -73.937454
32583     3623371 2017-02-28  9:45     QUEENS   11365.0  40.736010 -73.787415
32584     3623651 2017-02-28  9:45     QUEENS   11434.0  40.668320 -73.781370
32586     3623907 2017-02-28  9:53      BRONX   10467.0  40.884342 -73.886765
32587     3623313 2017-02-28  9:57  MANHATTAN   10027.0  40.814037 -73.948364

[20013 rows x 7 columns]

In [38]:
# Print to csv file NYPD
NYPD_2017_2m_df.to_csv('../Resources/NYPD_2017.csv')

In [48]:
NYVechicle_2017_new_df.to_csv('../Resources/NYVechicle_2017.csv')