In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# NYPD Complaint Data
complaint_file = "../Resources/NYPD_Complaint_Data.csv"

NYPD_data =pd.read_csv(complaint_file)

NYPD_data.head()

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,192701448,QUEENS,10/7/1918,2/2/2019,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,40.762070,-73.929744
1,122423264,STATEN ISLAND,11/24/1919,11/24/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,WHITE,M,40.538354,-74.215574
2,595267268,MANHATTAN,1/9/1920,1/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,BLACK,U,UNKNOWN,UNKNOWN,D,40.722053,-73.988215
3,759752818,MANHATTAN,4/29/1920,4/29/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.731890,-73.994546
4,351329583,QUEENS,7/6/1920,7/7/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,45-64,ASIAN / PACIFIC ISLANDER,M,18-24,BLACK HISPANIC,M,40.758563,-73.865846

In [3]:
NYPD_data.count()

CMPLNT_NUM          413412
BORO_NM             412927
CMPLNT_FR_DT        413412
CMPLNT_TO_DT        374308
CRM_ATPT_CPTD_CD    413412
KY_CD               413412
LAW_CAT_CD          413412
OFNS_DESC           413406
SUSP_AGE_GROUP      318550
SUSP_RACE           318550
SUSP_SEX            318550
VIC_AGE_GROUP       413411
VIC_RACE            413411
VIC_SEX             413411
Latitude            413412
Longitude           413412
dtype: int64

In [4]:
NYPD_df = NYPD_data

NYPD_df

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,192701448,QUEENS,10/7/1918,2/2/2019,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,40.762070,-73.929744
1,122423264,STATEN ISLAND,11/24/1919,11/24/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,WHITE,M,40.538354,-74.215574
2,595267268,MANHATTAN,1/9/1920,1/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,BLACK,U,UNKNOWN,UNKNOWN,D,40.722053,-73.988215
3,759752818,MANHATTAN,4/29/1920,4/29/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.731890,-73.994546
4,351329583,QUEENS,7/6/1920,7/7/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,45-64,ASIAN / PACIFIC ISLANDER,M,18-24,BLACK HISPANIC,M,40.758563,-73.865846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413407,462517741,BROOKLYN,09/04/1010,9/10/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,WHITE,F,UNKNOWN,UNKNOWN,D,40.692681,-73.990914
413408,386907725,MANHATTAN,11/03/1010,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.762394,-73.983421
413409,577517798,BRONX,12/04/1010,12/10/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.824551,-73.910235
413410,938263841,BRONX,12/04/1020,12/2/2020,COMPLETED,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,NaN,NaN,NaN,45-64,BLACK HISPANIC,M,40.841978,-73.904158
413411,111965055,BRONX,12/09/1016,12/20/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,65+,WHITE,M,40.896294,-73.874810

In [5]:
NYPD_df["CMPLNT_FR_DT"].value_counts()

6/1/2020     1857
1/1/2020     1733
1/15/2020    1439
6/2/2020     1392
8/1/2020     1388
             ...
12/5/2006       1
7/1/1978        1
9/4/2018        1
2/17/2019       1
6/6/2018        1
Name: CMPLNT_FR_DT, Length: 1792, dtype: int64

In [6]:
startdate = "1/1/2020"
enddate = "12/31/2020"

after_start_date_DT = NYPD_df["CMPLNT_FR_DT"] >= startdate
before_end_date_DT = NYPD_df["CMPLNT_FR_DT"] <= enddate
between_two_dates = after_start_date_DT & before_end_date_DT
NYPD_2020_df = NYPD_df[between_two_dates]

NYPD_2020_df

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,192701448,QUEENS,10/7/1918,2/2/2019,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,40.762070,-73.929744
1,122423264,STATEN ISLAND,11/24/1919,11/24/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,WHITE,M,40.538354,-74.215574
2,595267268,MANHATTAN,1/9/1920,1/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,BLACK,U,UNKNOWN,UNKNOWN,D,40.722053,-73.988215
5,115899041,MANHATTAN,11/9/1920,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,BLACK,F,UNKNOWN,UNKNOWN,D,40.809597,-73.949786
6,710152247,BROOKLYN,12/30/1920,12/30/1920,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,BLACK HISPANIC,F,25-44,BLACK HISPANIC,F,40.676458,-73.890808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413402,261978758,STATEN ISLAND,12/31/2020,12/31/2020,COMPLETED,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,45-64,BLACK,M,45-64,BLACK,F,40.640853,-74.134450
413408,386907725,MANHATTAN,11/03/1010,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.762394,-73.983421
413409,577517798,BRONX,12/04/1010,12/10/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.824551,-73.910235
413410,938263841,BRONX,12/04/1020,12/2/2020,COMPLETED,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,NaN,NaN,NaN,45-64,BLACK HISPANIC,M,40.841978,-73.904158
413411,111965055,BRONX,12/09/1016,12/20/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,65+,WHITE,M,40.896294,-73.874810

In [7]:
NYPD_2020_df["CMPLNT_FR_DT"].value_counts()

1/1/2020      1733
1/15/2020     1439
1/31/2020     1377
1/14/2020     1371
10/23/2020    1360
              ...
11/8/1998        1
10/17/2014       1
10/5/2016        1
1/11/2017        1
12/31/2012       1
Name: CMPLNT_FR_DT, Length: 576, dtype: int64

In [8]:
NYPD_2020_new_df = NYPD_2020_df.rename(columns={'CMPLNT_NUM' : 'Complaint_number_ID', 'BORO_NM' : 'BORO_Name', 'CMPLNT_FR_DT': 'Start_Date', 'CMPLNT_TO_DT': 'End_Date', 'CRM_ATPT_CPTD_CD': 'Complaint_Status','KY_CD':'Complaint_code', 'LAW_CAT_CD':'Complaint_CAT', 'SUSP_AGE_GROUP' :'Suspect_Age', 'SUSP_RACE' : 'Suspect_Race', 'SUSP_SEX' : 'Suspect_Gender', 'VIC_AGE_GROUP' : 'Victim_Age', 'VIC_RACE' : 'Victim_Race','VIC_SEX' : 'Victim_Gender', 'OFNS_DESC' : 'Complaint_DESC'  })

NYPD_2020_new_df

,Complaint_number_ID,BORO_Name,Start_Date,End_Date,Complaint_Status,Complaint_code,Complaint_CAT,Complaint_DESC,Suspect_Age,Suspect_Race,Suspect_Gender,Victim_Age,Victim_Race,Victim_Gender,Latitude,Longitude
0,192701448,QUEENS,10/7/1918,2/2/2019,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,40.762070,-73.929744
1,122423264,STATEN ISLAND,11/24/1919,11/24/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,WHITE,M,40.538354,-74.215574
2,595267268,MANHATTAN,1/9/1920,1/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,BLACK,U,UNKNOWN,UNKNOWN,D,40.722053,-73.988215
5,115899041,MANHATTAN,11/9/1920,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,BLACK,F,UNKNOWN,UNKNOWN,D,40.809597,-73.949786
6,710152247,BROOKLYN,12/30/1920,12/30/1920,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,BLACK HISPANIC,F,25-44,BLACK HISPANIC,F,40.676458,-73.890808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413402,261978758,STATEN ISLAND,12/31/2020,12/31/2020,COMPLETED,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,45-64,BLACK,M,45-64,BLACK,F,40.640853,-74.134450
413408,386907725,MANHATTAN,11/03/1010,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.762394,-73.983421
413409,577517798,BRONX,12/04/1010,12/10/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.824551,-73.910235
413410,938263841,BRONX,12/04/1020,12/2/2020,COMPLETED,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,NaN,NaN,NaN,45-64,BLACK HISPANIC,M,40.841978,-73.904158
413411,111965055,BRONX,12/09/1016,12/20/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,65+,WHITE,M,40.896294,-73.874810

In [10]:
zipcode_file = "../Resources/us-zip-code-latitude-and-longitude.csv"

zipcode_df =pd.read_csv(zipcode_file)

zipcode_df.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,55795,Willow River,MN,46.317812,-92.84315,-6,1,"46.317812, -92.84315"
1,45388,Yorkshire,OH,40.328535,-84.47938,-5,1,"40.328535, -84.47938"
2,39483,Foxworth,MS,31.218509,-89.90761,-6,1,"31.218509, -89.90761"
3,31503,Waycross,GA,31.205194,-82.37534,-5,1,"31.205194, -82.37534"
4,45833,Delphos,OH,40.841409,-84.34178,-5,1,"40.841409, -84.34178"

In [11]:
zipcode_clean_df= zipcode_df.drop(columns=['geopoint', 'Timezone', 'Daylight savings time flag'])

zipcode_clean_df

         Zip          City State   Latitude  Longitude
0      55795  Willow River    MN  46.317812  -92.84315
1      45388     Yorkshire    OH  40.328535  -84.47938
2      39483      Foxworth    MS  31.218509  -89.90761
3      31503      Waycross    GA  31.205194  -82.37534
4      45833       Delphos    OH  40.841409  -84.34178
...      ...           ...   ...        ...        ...
43186  75034        Frisco    TX  33.143792  -96.83938
43187  41631       Grethel    KY  37.479754  -82.64922
43188  98362  Port Angeles    WA  48.097144 -123.40628
43189  83212         Arbon    ID  42.514471 -112.54626
43190  65280     Rush Hill    MO  39.213975  -91.73545

[43191 rows x 5 columns]